@charset "utf-8";
/* fontfamily */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 91%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
}

header .wrapper {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav { margin-right: 3%; }

.logo a { 
  font-size: 22px;
  font-weight: bold;
}

.logo a,.nav-list a {
  color: rgb(255,255,255);
  text-transform: capitalize;
}

.nav-items {
  display: flex;
  gap: 52px;
}

.nav-list a { 
  position: relative;
  font-size: 21px;
}

.nav-list a::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  display: block;
  background: rgb(255,255,255);
  transition: all .5s ease;
}

.nav-list a:hover::before{ width: 100%; }
.active-nav a::before { width: 100%; }

.hamburger {
  border: 1px solid rgb(255,255,255);
  border-radius: 2px;
  position: relative;
  width: 35px;
  height: 35px;
  display: none; 
  cursor: pointer;
}

.bar {
  width: 50%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  text-indent: -99999px;
  transition: all 0.3s ease;
  transform: translate(-50%,-50%);
}

.bar::before,
.bar::after {
  content: "";
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
  transition: all .3s ease;
}

.bar::before { top: -6px; }

.bar::after { top: 6px; }

.active-hamburger .bar { transform: translate(-50%,-50%) rotate(45deg); }
.active-hamburger .bar::before { transform: translateY(6px) rotate(0); }
.active-hamburger .bar::after { transform: translateY(-6px) rotate(-90deg); }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section start */
.banner .wrapper {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner-content {
  width: 100%;
  position: absolute;
  top: 46%;
  left: 50%;
  color: rgb(255,255,255);
  text-align: center;
  transform: translate(-50%,-50%);
}

.banner-image { height: 100%;}

.banner-image img {
  height: 100%;
  object-fit: cover;
}

.banner-content h2 {
  padding: 0 0 5px 0;
  font-size: 56px;
  font-weight: 500;
  text-transform: capitalize;
  text-shadow: 2px 2px 3px rgb(0,0,0,.6);
}

.para1 { 
  padding: 10px 0 12px 0;
  text-transform: capitalize;
}

.para1,.para2 {
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(0,0,0,.6);
}
/* banner section end */
/* what we do section start */
.whatWeDo {
  padding: 20px 0;
  margin: 32px 0;
}
.whatWeDo .info { padding: 32px 0; }

.whatWeDo h3 {
  padding: 20px 0;
  color: rgb(52,118,168);
  font-size: 42px;
  text-transform: capitalize;
}

.whatWeDo .info p { padding-right: 1.4%; }

.whatWeDo p {
  padding: 10px 0;
  color: rgb(85, 86, 87);
  font-size: 18px; 
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 1.9;
}

.whatWeDo p a { color: rgb(52,118,168); text-transform: capitalize; }

.whatWeDo p a:hover { text-decoration: underline; }

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
}

.card-list {
  padding: 45px 0;
  flex-basis: 48%;
  display: flex;
  gap: 0 20px;
}

.card-info {
  padding: 0 4%;
}

.card-info h4 {
  padding-bottom: 26px;
  color: rgb(52,118,168);
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}

.card-logo span {
  display: block;
  color: rgb(52,118,168);
  text-indent: -9999px;
}

.card-logo span::before {
  text-indent: 0;
  font-family: 'FontAwesome';
  font-size: 50px;
  float: left;
}

.market-icon::before { content: '\e0e3'; }
.support-icon::before { content: '\f27a'; }
.security-icon::before { content: '\f577'; }
.user-icon::before { content: '\f0c0'; }

.card-info p { 
  padding: 0;
  font-size: 17px;
}

.card-info span { font-weight: bold; }
.card-btn { padding: 35px 0 20px 0; }

.card-btn a {
  padding: 13px 28px;
  background: rgb(52,118,168);
  color: rgb(255,255,255);
  font-size: 19px;
  text-transform: capitalize;
  transition: all .5s ease;
}

.card-btn a:hover {
  background: rgb(81, 150, 202);
}
/* what we do section end */
/* testimonial section start */
.testimonials {
  padding: 35px 0 45px 0;
  position: relative;
  background: url('../template\ image/infinite-loop-02.jpg') no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255,255,255);
}

.testimonials .info {
  padding: 33px 0;
  text-align: center;
}

.testimonials h3 { 
  padding: 30px 0;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

.testimonials .info p {
  width: 50%;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
}

.staff-cards { 
  width: 80%;
  padding: 30px 0 30px 0;
  margin: 0 auto;
  position: relative;
  display: flex;
  gap: 70px;
  overflow-x: auto;
  scrollbar-width: none;
}

.staff-cards::-webkit-scrollbar {
  display: none;
}

.staff-list {
  flex-basis: 28%;
  flex-shrink: 0;
  font-weight: 500;
}

.staff-list figure {
  width: 125px;
  padding: 20px 0;
  margin: 0 auto;
}

.staff-list img { border-radius: 50%; }

.staff-list p {
  padding: 10px 0 20px 0;
  line-height: 1.8;
}

.staff-list h4 {
  text-align: right;
  font-size: 19px;
  font-style: italic;
  text-transform: capitalize;
}

.slide-controls {
  padding: 25px 0 45px 0;
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.slide-btn {
  text-indent: -9999px;
  display: block;
}

.slide-btn::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-indent: 0;
  float: left;
  background: rgb(153,164,170);
  cursor: pointer;
}

.active-btn::before { background: rgb(255,255,255); }

.nextPrev-btns {
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  justify-content: space-between;
}

.prev-btn a,.next-btn a{
  text-indent: -9999px;
  color: rgb(255,255,255);
}

.prev-btn a::before,.next-btn a::before {
  text-indent: 0;
  font-family: 'FontAwesome';
  font-size: 40px;
  text-shadow: 1px 1px 5px rgb(0,0,0,.6);
  transition: all .5s ease;
}

.prev-btn a::before {
  content: '\f137';
  float: left;
}

.next-btn a::before {
  content: '\f138';
  float: right;
}

.prev-btn a:hover::before,.next-btn a:hover::before { color: rgb(201, 205, 207); }
/* testimonial section end */
/* gallery section start */
.gallery {
  position: relative;
  padding: 17px 0 20px 0;
  margin: 27px 0 20px 0;
}

.gallery .info {
  padding: 33px 0;
  text-align: center;
}

.gallery h3 { 
  padding: 30px 0;
  color: rgb(52,118,168);
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

.gallery .info p {
  width: 50%;
  padding-bottom: 10px;
  margin: 0 auto;
  color: rgb(85, 86, 87);
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
}

.gallery-items { 
  width: 97.8%;
  padding: 40px 0 30px 0;
  position: relative;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.gallery-items::-webkit-scrollbar { display: none; }

.gallery-list {
  flex-basis: 18%;
  flex-shrink: 0;
}

.image-controls {
  padding: 6px 0 45px 0;
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image-btn {
  text-indent: -9999px;
  display: block;
}

.image-btn::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-indent: 0;
  float: left;
  background: rgb(153,164,170);
  cursor: pointer;
}

.activeImage-btn::before { background: rgb(60,160,222); }

.gallery .nextPrev-btns {
  width: 97%;
  top: 60%;
}
/* gallery section end */
/* contact section start */
.contact {
  padding: 17px 0 50px 0;
  margin: 5px 0 0 0;
  background: url('../template\ image/infinite-loop-03.jpg') no-repeat center;
  background-size: cover;
}

.contact .wrapper {
  width: 75%;
  padding-bottom: 25px;
}

.contact .info {
  padding: 33px 0;
  text-align: center;
}

.contact h3 { 
  padding: 14px 0 30px 0;
  color: rgb(255,255,255);
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

.contact .info p {
  width: 98%;
  padding-bottom: 10px;
  margin: 0 auto;
  color: rgb(255,255,255);
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}

.contact-container {
  padding: 18px 0 40px 0;
  margin: 0 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}

form,.contact-source { flex-basis: 44%; }

.input-group {
  padding: 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-group input,textarea {
  padding: 11px 16px;
  border: 1px solid rgb(253,250,255);
  border-radius: 5px;
  outline: none;
  background: transparent;
  color: rgb(255,255,255);
  font-size: 19px;
}

.input-group textarea {
  height: 259px;
}

input::placeholder,textarea::placeholder { color: rgb(253,250,255,0.8); }

.input-control { padding: 10px 0; }

.input-control input {
  width: 55%;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  outline: none;
  background: rgb(51,103,153);
  color: rgb(255,255,255);
  font-size: 18px;
  text-transform: capitalize;
  transition: all .5s ease;
}

.input-control input:hover { background: rgb(81, 150, 202); }

.err {
  padding: 5px 0;
  position: absolute;
  bottom: -10px;
  display: none;
  color: rgb(255,0 ,0);
  font-size: 12px;
}

input.success,textarea.success { border-color: rgb(60,160,222); }
input.error,textarea.error { border-color: rgb(255,0 ,0); }
.show-error { display: block; }

.contact-source {
  display: flex;
  flex-direction: column;
}

.source-list {
  padding-top: 10px;
  margin-bottom: 40px;
}

.source-list a {
  color: rgb(255,255,255);
  display: flex;
  align-items: center;
  font-weight: 500;
}

.source-list a::before {
  margin-right: 5%;
  font-family: 'FontAwesome';
  font-size: 36px;
  float: left;
}

.chat-icon::before { content: '\f075'; }
.mail-icon::before { content: '\f0e0'; }
.location-icon::before { content: '\f3c5'; }
.call-icon::before { content: '\f87b'; }
/* contact section end */

/* modal start */

.modalDiv { padding-top: 62px; }

.modalDiv,.submitModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0,0,0,0.3);
}
.submitModal { justify-content: center; }

.cancel-btn { 
  width: 79%;
  padding: 17px 0;
  position: relative;
}

.cancel-btn a{
  color: rgb(255,255,255);
  text-indent: -9999px;
}

.cancel-btn a::before {
  content: '\f00d';
  position: absolute;
  top: 0;
  right: 10px;
  font-family: 'FontAwesome';
  font-size: 35px;
  text-indent: 0;
}

.modal-img {
  width: 70%;
  height: 90vh;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.content {
  width: 500px;
  height: 250px;
  min-width: 200px;
  min-height: 30vh;
  padding: 0 15px;
  border-radius: 5px;
  position: relative;
  background: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h5 { 
  padding: 80px 0 0 0;
  font-size: 30px;
  font-weight: bold;
}

.submit-icon::before {
  content: '\f00c';
  padding: 20px;
  border-radius: 50px;
  position: absolute;
  top: -16%;
  left: 50%;
  background: rgb(52,118,168);
  color: rgb(255,255,255);
  font-family: 'FontAwesome';
  font-size: 45px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
  transform: translate(-50%, -6%);
}

.submitCancel-btn { width: 100%; padding: 30px 0 0 0; }

.submitCancel-btn a {
  width: inherit;
  padding: 10px;
  border-radius: 5px;
  background: rgb(52,118,168);
  color: rgb(255,255,255);
  box-shadow: 0 2px 5px rgb(0,0,0,.4);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transition: all .5s ease;
}

.submitCancel-btn a:hover {
  background: rgb(60,160,222);
}
/* modal end */

.removeScroll { overflow-y: hidden; }

.hide-content { display: none; }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
.container { position: relative; }

footer {
  width: 100%;
  padding: 60px 0 30px 0;
  position: absolute;
  bottom: 0;
  color: rgb(255,255,255);
  text-align: center;
}

footer p { font-size: 15px; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1280 starts here*/
@media only screen and (max-width: 1280px) {
  /* whatWeDo section start */
  .cards { gap: 0 4px; }
  .card-info p { font-size: 15px; }
  /* whatWeDo section end */

  /* contact section start */
  .contact .wrapper { width: 81%; }
  /* contact section end */

  /* testimonials section start */
  .staff-cards { width: 94%; }
  /* testimonials section end */
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* header start */
  .nav-items { gap: 27px; }
  .nav-list a { font-size: 20px; }
  /* header end */

  /* whatWeDo section start */
  .card-info h4 { font-size: 30px; }
  .card-logo span::before { font-size: 40px; }
  /* whatWeDo section end */

  /* nextPrevious-btn */
  .nextPrev-btns { display: flex; }

  /* testimonials section start */
  .staff-list { flex-basis: 43%; }
  .slide-controls { display: none; }
  .testimonials .info p,.gallery .info p,.contact .info p { width: 100%; }
  /* testimonials section end */

  /* gallery section start */
  .gallery-items {
    width: 94%;
    margin: 0 auto;
    gap: 40px;
  }
  .gallery-list { flex-basis: 30%; }
  .image-controls { display: none; }
  .gallery .nextPrev-btns { top: 69%; }
  /* gallery section end */

  /* contact section start */
  .contact-container { gap: 74px; }
  /* contact section end */
}  

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  /* header start */
  .hamburger {
    padding: 5px;
    display: block;
    z-index: 3;
  }

  nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgb(0,0,0,0.8);
    transition: all .5s ease;
  }

  .active-hamburger + nav {
    left: 0;
    animation: fadeIn .8s ease;
  }

  @keyframes fadeIn {
    0% { opacity: 0; background-color: none; }
    100% { opacity: 100%; background-color: rgb(0,0,0,0.8); }
  }
  
  .nav-items {
    width: inherit;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .nav-list a { font-size: 23px; }
  /* header end */

  /* whatWeDo section start */
  .card-list {
    flex-basis: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .card-logo span::before { font-size: 57px; }
  /* whatWeDo section end */

  /* gallery section start */
  .gallery-items {
    width: 88%;
    margin: 0 auto;
    gap: 30px;
  }
  /* gallery section end */

  /* contact section start */
  form,.contact-source { flex-basis: 100%; }
  /* contact section end */
}

/*media query for 640px starts here*/
@media only screen and (max-width: 640px) {

  .staff-list {
   flex-basis: 95%;
   text-align: center;
  }

  /* gallery section start */
  .gallery-items { width: 88.8%; }
  .gallery-list { flex-basis: 47%; }
  /* gallery section end */

  /* contact section start */
  .contact-container { margin: 0px 0 13px 0; }
  /* contact section end */
}

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
  /* banner section start */
  .banner-content h2 { font-size: 40px; }
  .para1, .para2 { font-size: 17px; }
  /* banner section end */

  /* gallery section start */
  .gallery-items { width: 65%; }
  .gallery-list { flex-basis: 100%; }
  /* gallery section end */

  /* contact section start */
  .testimonials .info p,.gallery .info p,.contact .info p { font-size: 12px; }
  /* contact section end */

  /* footer start */
  footer p { font-size: 10px; }
  /* footer end */
}